<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/delete_user" method="POST">
            <label for="name">Name</label>
            <input type="text" name="user_name" id="name"><br>
            <label for="address">Address</label>
            <input type="text" name="user_address" id="address"><br>
            <label for="mobile">Mobile</label>
            <input type="number" name="user_mobile" id=""><br>
            <label for="age">Age</label>
            <input type="number" name="user_age" id=""><br>
            <label for="gender">Gender</label>
            <input type="text" name="user_gender" id=""><br>
            <label for="salary">Salary</label>
            <input type="number" name="user_salary" id=""><br>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>